<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/app.css">
    <title>Put Your Shi*t Together - Dashboard</title>
    <link rel="icon" href="./img/pst.png" type="image/x-icon">
</head>
<body>
    <%- include ('./layouts/header') %>
    <div class="flex h-screen">
        <!-- Navbar lateral -->
        <%- include ('./layouts/sidebar') %>
        <main>
            <!-- Contenido dinámico de cada página -->
            <div class="container mx-auto p-4">
                <!-- Aquí se insertará el contenido específico de cada página -->
                Contenido
            </div>
        </main>
    </div>
    <%- include ('./layouts/footer') %>
</body>
</html>
