<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/app.css">
  <title>Put Your Shi*t Together - Dashboard</title>
  <link rel="icon" href="/img/pst.png" type="image/x-icon">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js'></script>
  
  <script src="/js/app.js"></script>
  
</head>
<body class="bg-slate-700">
  <%- include ('./layouts/header') %>
    <div class="flex h-screen text-white">
      <!-- Navbar lateral -->
      <%- include ('./layouts/sidebar') %>
      <div id='calendar' class="ml-4 mt-3 w-2/4 h-5/6"></div>
      <div>
        <div id="piechart_div" class="ml-4 mt-3 w-max"></div>
        <div id="linechart_div" class="ml-4 mt-3 w-max"></div>
      </div>
      
      
    </div>
    <%- include ('./layouts/footer') %>
</body>
</html>