<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/app.css">
  <title>Put Your Shi*t Together - Dashboard</title>
  <link rel="icon" href="/img/pst.png" type="image/x-icon">
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js'></script>
</head>

<body class="bg-slate-700">
  <%- include ('./layouts/header') %>
    <div class="flex h-screen text-white">
      <!-- Navbar lateral -->
      <%- include ('./layouts/sidebar') %>
        <main class="container">
          <div id='calendar' class="ml-4 mt-3 w-2/4"></div>
        </main>
    </div>
    <%- include ('./layouts/footer') %>
</body>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const calendarEl = document.getElementById('calendar');
    const calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      timeZone: 'GMT-6'
    });
    
    const fillEvents = async () => {
      const response = await fetch(`${window.location.protocol}//${window.location.host}/subs/events`);
      const json = await response.json();
      let currentDate = new Date();  // Get the current date
      let year = currentDate.getFullYear();  // Get the full year (e.g., 2024)
      let month = currentDate.getMonth() + 1

      json.subs.rows.forEach(sub => {
        let event = {
          title: `${sub.Nombre} ${(sub.Monto * (sub.Moneda == 'USD' ? 7.7 : 1)).toFixed(2)}`,
          start: `${year}-${(month.toString().length == 1 ? '0' + month : month)}-${(sub.MonthDay.toString().length == 1 ? '0' + sub.MonthDay : sub.MonthDay)}`,
          color: `${(sub.Tipo == 'Cuotas' ? '#8b8b02' : (sub.Tipo == 'Payment' ? '#20a500' : '#002e6b'))}`
        }

        calendar.addEvent(event)

      });
    }

    const styles = () => {
      let gridcells = document.getElementsByClassName('fc-daygrid-day')
      for (let index = 0; index < gridcells.length; index++) {
        gridcells[index].classList.add("hover:bg-violet-600");
        gridcells[index].classList.add("hover:cursor-pointer");
      }
    }

    const initializeCalendar = () => {
      calendar.render()
      fillEvents()
      styles()
    }

    initializeCalendar()
  });

</script>

</html>