<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Sitio Web</title>
    <!-- Aquí puedes incluir estilos CSS, scripts JS, meta tags comunes, etc. -->
</head>
<body>
    <% include ('./header') %>

    <footer>
        <!-- Pie de página común -->
        <p>&copy; 2024 Mi Sitio Web</p>
    </footer>

    <% include ('./footer') %>
</body>
</html>
