<aside class="bg-slate-800 text-white w-64 flex-shrink-0">
    <div class="p-6">
        <div class="text-xl font-bold">RasterblazZ</div>
        <ul class="mt-4">
            <li><a href="/subs/list" class="block font-bold text-gray-300 hover:text-white">Pagos Recurrentes</a></li>
            <li><a href="/savings" class="block font-bold text-gray-300 hover:text-white">Cuentas y Ahorro</a></li>
            <br>
            <li><a href="/about" class="block text-gray-300 hover:text-white">Acerca de</a></li>
            <!-- Agrega más enlaces según sea necesario -->
        </ul>
    </div>
</aside>