<aside class="bg-gray-900 text-white w-64 flex-shrink-0">
    <div class="p-6">
        <div class="text-xl font-semibold">RasterblazZ</div>
        <ul class="mt-4">
            <li><a href="/" class="block text-gray-300 hover:text-white">Inicio</a></li>
            <li><a href="/about" class="block text-gray-300 hover:text-white">Acerca de</a></li>
            <!-- Agrega más enlaces según sea necesario -->
        </ul>
    </div>
</aside>